{
    "useTabs": false,
    "printWidth": 120,
    "tabWidth": 2,
    "singleQuote": false,
    "requirePragma": false,
    "jsxBracketSameLine": true,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true
}
